
<div class="new-tournament">
  <div class="title">Active Tournaments</div>
  <button routerLink="/tournaments/new">+ New Tournament</button>
</div>

<ul class="tournament-container">
    <ng-container *ngFor="let tournament of tournaments">
      <div class="tournament-block" *ngIf="tournament.currentRound!='Finished'">
        <header>{{ tournament.name }}</header>
        <table>
          <tr>
            <td>Next match:</td>
            <td>{{ tournament.currentRound }}</td>
            <td><button routerLink="/tournament/{{ tournament.id }}">Countinue</button></td>
          </tr>
        </table>
      </div>
    </ng-container>
  </ul>
  