
.table-container {
    width: 28%;
    margin: 50px auto 0;
    box-shadow: 0 0 5px black;
    margin-right: 50px;
    float: right;
    
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 0.5rem; /* Lekerekített szélek */
}

.table-container th,
.table-container td {
    padding: 10px;
    text-align: center;
    color: crimson;
}

.table-container th {
    background-color: darkred; /* Piros hátterű fejléc */
    color: #fff;
}

.table-container tr:nth-child(even) {
    background-color: #D6350E; /* Bézs háttérszín páros soroknak */
    color: white;
}

.table-container tr:nth-child(odd) {
    background-color: #fff; /* Fehér háttérszín páratlan soroknak */
    color: crimson
}

.table-container a {
    color: crimson;
}

.match-container {
    width: 40%;
    margin: 50px auto 0;
    box-shadow: 0 0 5px black;
    margin-right: 50px;
    float: right;
    
}

.match-container table {
    width: 100%;
    border-radius: 10px; /* Lekerekített szélek */
}

.match-container caption{
    background-color: darkred; /* Piros hátterű fejléc */
    color: #fff;
    font-size: 1.1rem;
}

.match-container th,
.match-container td {
    padding: 10px;
    text-align: center;
    color: crimson;
}

.match-container th {
    background-color: darkred; /* Piros hátterű fejléc */
    color: #fff;
    text-align: center;
}

.match-container tr:nth-child(even) {
    background-color: #f5f5dc; /* Bézs háttérszín páros soroknak */
    color: crimson;
}

.match-container tr:nth-child(odd) {
    background-color: #fff; /* Fehér háttérszín páratlan soroknak */
    color: crimson
}

.match-container a {
    color: crimson;
    text-align: center;
}

button {
    background-color: #D6350E;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 16px 16px 16px 16px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    opacity: 0.9;
}

ul {
    display: flex;
    justify-content: center; /* Módosítás */
    align-items: flex-start; /* Módosítás */
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0; /* Módosítás */;
}

.tournament-container {
    width: 40%;
    background-color: whitesmoke;
    color: #D6350E;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    margin-right: 50px;
}
.tournament-container header{
    color: white;
    background-color: #D6350E;
}

.tournament-container button { 
    float: right;
    background-color: #D6350E;
    color: white;
}

