<div class="container">
    <div class="details">
        <app-title title="New Tournament"></app-title>
        <form [formGroup]="newTournamentForm" (ngSubmit)="submit()">
        <text-input
            [control]="fc.name"
            [showErrorsWhen]="isSubmitted"
            label="Name">
        </text-input>
        <select-input
            [control]="fc.type"
            [showErrorsWhen]="isSubmitted"
            label="Type"
            [options]="[
                {value: 'elimination', label: 'Elimination'},
                {value: 'league', label: 'League'},
            ]">
        </select-input>
        <select-input
            [control]="fc.playersCount"
            [showErrorsWhen]="isSubmitted"
            label="Number of players"
            [options]="[
                {value: 2, label: '2'},
                {value: 4, label: '4'},
                {value: 8, label: '8'},
                {value: 16, label: '16'},
            ]">
        </select-input>
        <select-input
            [control]="fc.points"
            [showErrorsWhen]="isSubmitted"
            label="Points"
            [options]="[
                {value: 301, label: '301'},
                {value: 501, label: '501'},
                {value: 701, label: '701'},
            ]">
        </select-input>
        <select-input
            [control]="fc.legs"
            [showErrorsWhen]="isSubmitted"
            label="Legs"
            [options]="[
                {value: 1, label: '1'},
                {value: 2, label: '2'},
                {value: 3, label: '3'},
            ]">
        </select-input>
        <select-input
            [control]="fc.doubleOut"
            [showErrorsWhen]="isSubmitted"
            label="Double Out"
            [options]="[
                {value: true, label: 'Yes'},
                {value: false, label: 'No'},
            ]">
        </select-input>
    <default-button text="Create Tournament"></default-button>
        </form>
    </div>
</div>
