.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
}
  
.details{
    width: 25rem;
}

button{
    background-color: #D6350E;
    color: #fff;
    border: none;
    border-radius: 1rem;
    font-size: 24px;
}
