<app-not-found
  [visible]="!player.ID"
  notFoundMessage="Player Not Found"
  resetLinkText="Back To Homepage">
</app-not-found>
<div *ngIf="player.ID" class="container">
<div class="header">
    <img [src]="player.IMAGE_PATH" [alt]="player.NAME"/>
    <div class="name">
        {{player.NAME}}
    </div>
    <div class="nation">
        {{player.COUNTRY_NAME}}
    </div>
    <div class="birthday">
        {{player.BIRTHDAY_TIME}}
    </div>
    <div class="ranking">
        {{player.RANK_TEXT}}
    </div>
    <div class="prize">
        {{ranking.result}}
    </div>
    <div class="win">Season win%: 66%</div>
    <div class="average">Season average: 95.95</div>
    
</div>

<div class="statistics">
    <table>
        <caption>Season statistics</caption>
        <tr>
            <th>Stat</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>180's</td>
            <td>510</td>
        </tr>
        <tr>
            <td>Checkout %</td>
            <td>40.33%</td>
        </tr>
        <tr>
            <td>140+</td>
            <td>1053</td>
        </tr>
        <tr>
            <td>100+</td>
            <td>1398</td>
        </tr>
        <tr>
            <td>Highest Checkout</td>
            <td>170</td>
        </tr>
        <tr>
            <td>First 9 averages</td>
            <td>104.89</td>
        </tr>
        <tr>
            <td>First 3 averages</td>
            <td>103.34</td>
        </tr>
        <tr>
            <td>First dart average</td>
            <td>30.97</td>
        </tr>
        <tr>
            <td>Second dart average</td>
            <td>32.44</td>
        </tr>
        <tr>
            <td>Third dart average</td>
            <td>33.05</td>
        </tr>
    </table>
</div>

<div class="matches">
    <div class="match-container">
        <table>
        <caption>Recent matches</caption>
        <tr>
                <a [routerLink]="'/match/' + match.ID">
                    <td>{{ match.START }}</td>
                    <td>{{ match.HOME_NAME }}</td>
                    <td>{{ match.HOME_SCORE }} - {{ match.AWAY_SCORE }}</td>
                    <td>{{ match.AWAY_NAME }}</td>
                </a>
        </tr>
        </table>
    </div>
</div>
</div>
