<app-not-found
  [visible]="!player.id"
  notFoundMessage="Player Not Found"
  resetLinkText="Back To Homepage">
</app-not-found>
<div *ngIf="player.id" class="container">
<div class="header">
    <div class="name">
        {{player.name}}
    </div>
    <div class="tournament record">
        {{player.tournament_win}} - {{player.tournament_lose}}
    </div>
    <div class="match record">
        {{player.match_win}} - {{player.match_lose}}
    </div>    
</div>

<div class="statistics">
    <table>
        <caption>Season statistics</caption>
        <tr>
            <th>Stat</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>180's</td>
            <td>510</td>
        </tr>
        <tr>
            <td>Checkout %</td>
            <td>40.33%</td>
        </tr>
        <tr>
            <td>140+</td>
            <td>1053</td>
        </tr>
        <tr>
            <td>100+</td>
            <td>1398</td>
        </tr>
        <tr>
            <td>Highest Checkout</td>
            <td>170</td>
        </tr>
        <tr>
            <td>First 9 averages</td>
            <td>104.89</td>
        </tr>
        <tr>
            <td>First 3 averages</td>
            <td>103.34</td>
        </tr>
        <tr>
            <td>First dart average</td>
            <td>30.97</td>
        </tr>
        <tr>
            <td>Second dart average</td>
            <td>32.44</td>
        </tr>
        <tr>
            <td>Third dart average</td>
            <td>33.05</td>
        </tr>
    </table>
</div>