*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100vw;
    height: 150px;
    border-bottom: solid 4px #D6350E;
}

header .inner{
    width: 1300px; /* This is the inner width of the content inside of your header (80%, etc) */
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo{
    display: table;
    height: 100%;
    float: left;
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img{
    height: 125px;
    margin: 10px 40px 10px 40px 
}

ul{
    display: flex;
    list-style-type: none;
    margin-right: 40px;
    height: 150px;
    justify-content: right;
    align-items: center;
    font-size: 32px;

}
  
ul a{
    padding: 1rem;
    display: inline-block;
    color: #D6350E;
}
  
a span{
    background: #D6350E;
    color: white;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size:0.9rem;
}
  
.menu-container{
    position: relative;
}
  
.menu{
    position:absolute;
    z-index:1;
    background: #fff;
    display: none;
}
  
.menu-container:hover .menu{
    display: block;
}
  
.menu a{
    width: 100%;
    min-width:8rem;
}