<header>
    <div class="inner">
        <div class="logo">
            <div>
                <a routerLink="/">
                    <img src="assets/doubleout_logo.png" alt="DoubleOut">
                </a>
            </div>
        </div>

        <nav>
            
            <li *ngIf="!isAuth"><span><a routerLink="/login">Login</a></span></li>
            <li *ngIf="isAuth" class="menu-container"><span><a routerLink="/dashboard">{{user.name}}</a></span></li>
                <div class="menu">
                    <a routerLink="/profile">Profile</a>
                    <a (click)="logout()">Logout</a>
                </div>
            <li><span><a routerLink="/tournaments">Tournaments</a></span></li>
            <li><span><a routerLink="/players">Players</a></span></li>
            
        </nav>
    </div>