<body>
    <div class="home-container">
        <div class="Home-Player">{{match.homeName}}</div>
        <div class="Home-Score">{{match.homeScore}}</div>
    </div>
    <div class="away-container">
        <div class="Away-Player">{{match.awayName}}</div>
        <div class="Away-Score">{{match.awayScore}}</div>
    </div>
    <div class="action-container">
    <ng-container *ngIf="match.legs.length == 0">
        <default-button text="Start Match" (onClick)="startMatch(match.id)" routerLink="/matches/{{match.id}}/onGoing"></default-button>
    </ng-container>
    <ng-container *ngIf="match.legs.length > 0 && match.winner === ''">
        <default-button text="Countinue Match" (onClick)="countinueMatch(match.id)" routerLink="/matches/{{match.id}}/onGoing"></default-button>
    </ng-container>
    </div>
</body>
