<div class="tournament-info">Tournament: {{tournament.name}}</div>
<ul class="match-container">
    <ng-container *ngFor="let match of matches">
        <div class="match-block">
            <header>{{match.round}}</header>
            <table>
                <tr>
                    <td>{{match.homeName}}</td>
                    <td>{{match.homeScore}}</td>
                    <td>-</td>
                    <td>{{match.awayScore}}</td>
                    <td>{{match.awayName}}</td>
                    <td>
                        <button routerLink="/matches/{{match.id}}">View</button>
                    </td>
                </tr>
            </table>
        </div>
    </ng-container>
</ul>
